
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f2f1ef;
    height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding-left: 25%;
    padding-right: 25%;
    box-sizing: border-box;
}

/* Header section */
#header{
    flex: 1;
    text-align: center;
    padding: 2rem;
    margin-bottom: 4rem;
    background-color: #413f3d;
}
h1 {
    color: #f2f1ef;
    font-size: 3rem;
}